<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="css/foundation.css?ionicCachebuster=84792">
  <link rel="stylesheet" type="text/css" href="icons/foundation-icons.css?ionicCachebuster=84792">
  <link rel="stylesheet" type="text/css" href="css/copay.css?ionicCachebuster=84792">
  <title>Carbon Key - Bitcoin Safe</title>
  <link rel="shortcut icon" href="img/favicon.ico?ionicCachebuster=84792">
</head>
<body ng-cloak="" class="ng-cloak">

  <div class="page" ng-controller="indexController as index" ng-swipe-disable-mouse="" ng-swipe-left="index.closeMenu()" ng-swipe-right="index.openMenu()">

    <div class="off-canvas-wrap" id="off-canvas-wrap">
      <div class="inner-wrap">
        <div ng-include="&apos;views/includes/sidebar.html&apos;" ng-if="index.hasProfile"></div>

        <div notifications="right top"></div> 
        <div ng-include="&apos;views/includes/password.html&apos;" ng-if="index.askPassword"></div>
        <div ng-include="&apos;views/includes/alert.html&apos;" ng-if="index.showAlert"></div>
        <div id="sectionContainer">
          <div id="mainSection">
            <section ui-view="main" ng-class="{
                &apos;main&apos;: index.hasProfile
              }"></section>
          </div>
        </div>
        <a class="close-menu" ng-click="index.closeMenu()"></a>

      </div>
    </div>
  </div>
  
<script src="lib/ionic/js/ionic.bundle.js?ionicCachebuster=84792"></script>
  
          
<script src="lib/fastclick/lib/fastclick.js?ionicCachebuster=84792"></script>
<script src="lib/qrcode-generator/js/qrcode.js?ionicCachebuster=84792"></script>
<script src="lib/qrcode-decoder-js/lib/qrcode-decoder.js?ionicCachebuster=84792"></script>
<script src="lib/moment/min/moment-with-locales.js?ionicCachebuster=84792"></script>
<script src="lib/angular-foundation/mm-foundation-tpls.js?ionicCachebuster=84792"></script>
<script src="lib/angular-moment/angular-moment.js?ionicCachebuster=84792"></script>
<script src="lib/ng-lodash/build/ng-lodash.js?ionicCachebuster=84792"></script>
<script src="lib/angular-qrcode/angular-qrcode.js?ionicCachebuster=84792"></script>
<script src="lib/angular-gettext/dist/angular-gettext.js?ionicCachebuster=84792"></script>
<script src="lib/angular-touch/angular-touch.js?ionicCachebuster=84792"></script>
<script src="lib/angular-ui-switch/angular-ui-switch.js?ionicCachebuster=84792"></script>
<script src="lib/angular-bitcore-wallet-client/angular-bitcore-wallet-client.js?ionicCachebuster=84792"></script>
<script src="lib/bitcoinjs.min.js?ionicCachebuster=84792"></script>

  <!-- DO NOT DELETE THIS COMMET  -->
  <!-- PLACEHOLDER: CORDOVA SRIPT -->
  
  <script src="js/app.js?ionicCachebuster=84792"></script>
<script src="js/routes.js?ionicCachebuster=84792"></script>
<script src="js/directives/directives.js?ionicCachebuster=84792"></script>
<script src="js/directives/qrScanner.js?ionicCachebuster=84792"></script>
<script src="js/directives/ngSwipe.js?ionicCachebuster=84792"></script>
<script src="js/filters/filters.js?ionicCachebuster=84792"></script>
<script src="js/models/profile.js?ionicCachebuster=84792"></script>
<script src="js/services/profileService.js?ionicCachebuster=84792"></script>
<script src="js/services/hwWallet.js?ionicCachebuster=84792"></script>
<script src="js/services/ledger.js?ionicCachebuster=84792"></script>
<script src="js/services/storageService.js?ionicCachebuster=84792"></script>
<script src="js/services/sjcl.js?ionicCachebuster=84792"></script>
<script src="js/services/legacyImportService.js?ionicCachebuster=84792"></script>
<script src="js/services/balanceService.js?ionicCachebuster=84792"></script>
<script src="js/services/bwsError.js?ionicCachebuster=84792"></script>
<script src="js/services/addressParser.js?ionicCachebuster=84792"></script>
<script src="js/services/txStatus.js?ionicCachebuster=84792"></script>
<script src="js/services/logHeader.js?ionicCachebuster=84792"></script>
<script src="js/services/bitIDService.js?ionicCachebuster=84792"></script>
<script src="js/services/confirmDialog.js?ionicCachebuster=84792"></script>
<script src="js/services/go.js?ionicCachebuster=84792"></script>
<script src="js/services/uriHandler.js?ionicCachebuster=84792"></script>
<script src="js/services/onChainService.js?ionicCachebuster=84792"></script>
<script src="js/services/isCordova.js?ionicCachebuster=84792"></script>
<script src="js/services/notificationsService.js?ionicCachebuster=84792"></script>
<script src="js/services/animationService.js?ionicCachebuster=84792"></script>
<script src="js/services/derivationPathHelper.js?ionicCachebuster=84792"></script>
<script src="js/services/uxLanguage.js?ionicCachebuster=84792"></script>
<script src="js/services/backupService.js?ionicCachebuster=84792"></script>
<script src="js/services/pushNotificationsService.js?ionicCachebuster=84792"></script>
<script src="js/services/addressService.js?ionicCachebuster=84792"></script>
<script src="js/services/isChromeApp.js?ionicCachebuster=84792"></script>
<script src="js/services/addressbookService.js?ionicCachebuster=84792"></script>
<script src="js/services/feeService.js?ionicCachebuster=84792"></script>
<script src="js/services/addonManager.js?ionicCachebuster=84792"></script>
<script src="js/services/bitcore.js?ionicCachebuster=84792"></script>
<script src="js/services/isDevice.js?ionicCachebuster=84792"></script>
<script src="js/services/txFormatService.js?ionicCachebuster=84792"></script>
<script src="js/services/fileStorage.js?ionicCachebuster=84792"></script>
<script src="js/services/isMobile.js?ionicCachebuster=84792"></script>
<script src="js/services/swipe.js?ionicCachebuster=84792"></script>
<script src="js/services/notifications.js?ionicCachebuster=84792"></script>
<script src="js/services/configService.js?ionicCachebuster=84792"></script>
<script src="js/services/historicLog.js?ionicCachebuster=84792"></script>
<script src="js/services/localStorage.js?ionicCachebuster=84792"></script>
<script src="js/services/pluginManager.js?ionicCachebuster=84792"></script>
<script src="js/services/trezor.js?ionicCachebuster=84792"></script>
<script src="js/services/applicationService.js?ionicCachebuster=84792"></script>
<script src="js/services/nodeWebkit.js?ionicCachebuster=84792"></script>
<script src="js/services/isDevel.js?ionicCachebuster=84792"></script>
<script src="js/services/glideraService.js?ionicCachebuster=84792"></script>
<script src="js/services/rateService.js?ionicCachebuster=84792"></script>
<script src="js/controllers/termOfUse.js?ionicCachebuster=84792"></script>
<script src="js/controllers/splash.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesEmail.js?ionicCachebuster=84792"></script>
<script src="js/controllers/copayers.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesDelete.js?ionicCachebuster=84792"></script>
<script src="js/controllers/glideraUri.js?ionicCachebuster=84792"></script>
<script src="js/controllers/sellGlidera.js?ionicCachebuster=84792"></script>
<script src="js/controllers/paymentUri.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesGlidera.js?ionicCachebuster=84792"></script>
<script src="js/controllers/buyGlidera.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesUnit.js?ionicCachebuster=84792"></script>
<script src="js/controllers/password.js?ionicCachebuster=84792"></script>
<script src="js/controllers/devLogin.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesInformation.js?ionicCachebuster=84792"></script>
<script src="js/controllers/version.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesGlobal.js?ionicCachebuster=84792"></script>
<script src="js/controllers/glidera.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesAlias.js?ionicCachebuster=84792"></script>
<script src="js/controllers/walletHome.js?ionicCachebuster=84792"></script>
<script src="js/controllers/importLegacy.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferences.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesColor.js?ionicCachebuster=84792"></script>
<script src="js/controllers/create.js?ionicCachebuster=84792"></script>
<script src="js/controllers/sidebar.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesAbout.js?ionicCachebuster=84792"></script>
<script src="js/controllers/topbar.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesBwsUrl.js?ionicCachebuster=84792"></script>
<script src="js/controllers/bitIDNotice.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesAdvanced.js?ionicCachebuster=84792"></script>
<script src="js/controllers/backup.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesHistory.js?ionicCachebuster=84792"></script>
<script src="js/controllers/disclaimer.js?ionicCachebuster=84792"></script>
<script src="js/controllers/join.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesAltCurrency.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesLanguage.js?ionicCachebuster=84792"></script>
<script src="js/controllers/index.js?ionicCachebuster=84792"></script>
<script src="js/controllers/import.js?ionicCachebuster=84792"></script>
<script src="js/controllers/paperWallet.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesFee.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesLogs.js?ionicCachebuster=84792"></script>
<script src="js/controllers/export.js?ionicCachebuster=84792"></script>
<script src="js/controllers/preferencesDeleteWords.js?ionicCachebuster=84792"></script>
<script src="js/translations.js?ionicCachebuster=84792"></script>
<script src="js/version.js?ionicCachebuster=84792"></script>
<script src="js/init.js?ionicCachebuster=84792"></script>
<script src="js/trezor-url.js?ionicCachebuster=84792"></script>
<script src="lib/trezor-connect/login.js?ionicCachebuster=84792"></script>

</body>
</html>
